@use "sass:math";

// var
$color-yellow: #ffe500;
$color-primary:$color-yellow;

$color-text-primary:#000;
$color-text-gray:#838383;
$color-text-link:#2249c0;

$primary-color: #ffe600; // global color
$link-color: #1890ff; // link color

$success-color: #52c41a; // success color
$warning-color: #faad14; // warning color
$error-color: #f5222d; // error color
$colorWhite:#fff;
$colorBlack:#000;

$heading-color: rgba(#000, 0.85); // title color
$text-color: rgba(#000, 0.65); // mian text color
$text-color-secondary: rgba(#000, 0.45); // sub text color
$disabled-color: rgba(#000,0.25); // disabled color
$border-radius-base: 4px; // border-radius
$border-color-base: #d9d9d9;
$box-shadow-base: 0 2px 8px rgba(#000, 0.15);

$container-width:1200px;
$container-width-min: 960px;
$header-height:70px;
$phone-width:750px;
$databend-background-color:#F8BA74;
$databen-gray-color: #F6F7F8;
$databend-white: #fff;  // Databend white
$databend-black: #222;
$databend-description: #687497;
$font-size-base: 14px; // main font-size 
$databend-blue: #76AFF7;
// function
@function mpx($px:0){
  @return math.div($px*1920,375)+px;
}

// mixin
@mixin base-apply-btn($w:160,$h:40,$bg:#000,$color:$color-primary,$be-bg:$color-primary,$size:20){@include box-c;min-width:$w+px;height:$h+px;background:$bg;color:$color;transition:all .2s ease;position:relative;font-size:$size+px;white-space:nowrap;padding:0 10px;
  &::before{content:"";position:absolute;border:math.div(math.div($h, 4), 2) + px solid transparent;border-top-color:$be-bg;border-left-color:$be-bg;left:0;top:0;width:0;height:0;}
  &:hover{background:lighten($bg,5%)}
  &:active{background:darken($bg,5%)}
  @content;
}

$phoneW:997px;
@mixin media($phone:$phoneW){
  @media screen and (max-width: $phone) {
    @content;
  }
}
@mixin min-media($width:3000px){
  @media screen and (min-width: $width) {
    @content;
  }
}
@mixin pm{
  [data-pc]{display:block;}
  [data-phone]{display:none;}
  @include media{
    [data-pc]{display:none;}
    [data-phone]{display:block;}
  }
  @content;
}

@mixin box($direction:row,$align:flex-start,$justify:flex-start){
    display:flex;
    flex-direction:$direction;
    align-items:$align;
    justify-content:$justify;
}
@mixin gl-home-main {
  flex: 1;
}
@mixin box-c{
  @include box($direction:row,$align:center,$justify:center);
}
@mixin align-c{
  @include box($direction:row,$align:center,$justify:flex-start);
}
@mixin align-s{
  @include box($direction:row,$align:flex-start,$justify:flex-start);
}
@mixin justify-c{
  @include box($direction:row,$align:flex-start,$justify:center);
}
@mixin box-column{
  @include box($direction:column,$align:flex-start,$justify:flex-start);
}
@mixin box-column-e{
  @include box($direction:column,$align:flex-end,$justify:flex-start);
}
@mixin box-column-c{
  @include box($direction:column,$align:center,$justify:center);
}
@mixin align-column-c{
  @include box($direction:column,$align:center,$justify:flex-start);
}
@mixin justify-column-c{
  @include box($direction:column,$align:flex-start,$justify:center);
}
@mixin box-flex {flex: 1;}
@mixin box-shadow($shadow:5px,$color:$borColor-3){
    box-shadow:0 0 $shadow 0 $color;
}
@mixin ellipsis($line:1){
  @if $line==1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @else {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@mixin clip-btn($w:120px,$h:36px,$clip:10px,$bgColor:#000,$color:$primary-color){width:$w;height:$h;clip-path: polygon($clip 0, 100% 0%, 100% 100%, 0 100%, 0 $clip);background:$bgColor;color:$color;@include box-c;font-size:14px;
  &:hover{background:lighten($bgColor,15%);}
  @content;
}
@mixin clip-background($cW,$cH,$right:-10px,$bgColor:#000){position:relative;
  &::before,&::after{content:"";position:absolute;width:100%;height:100%;right:0;top:0;background:rgba($bgColor,1);clip-path: polygon(100% $cH, 100% 0, $cW 0, 0% calc(100% - #{$cH}), 0 100%, calc(100% - #{$cW}) 100%);}
  &::after{background:rgba($bgColor,.2);width:auto;left:0;right:$right;}
  @content;
}

@mixin arrow($w,$size,$direction:left){width:0;height:0;border:math.div($w, 2) solid transparent;
  @if $direction == left {
    border-right:$size solid #000;border-left-width:0;
  }
  @if $direction == right {
    border-left:$size solid #000;border-right-width:0;
  }
  @if $direction == top {
    border-bottom:$size solid #000;border-top-width:0;
  }
  @if $direction == bottom {
    border-top:$size solid #000;border-bottom-width:0;
  }
  @content;
}

@mixin cardHover{
  &,*{transition:all .4s ease;}
  &:hover{transition:all .4s ease !important;box-shadow:0 0 20px rgba(0, 0, 0, 0.1); transform: translateY(-10px) !important;}
  @content;
  @include media{
    &:hover{
      transform: translateY(0) !important;
      // box-shadow:0 0 mpx(20) rgba(0, 0, 0, 0.1);
    }
  }
}

@mixin ellipse-n($line-num: 3) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-num;
  overflow: hidden;
}
@mixin scroll($color:#999,$width:7px,$height:0){
  &::-webkit-scrollbar {width: $width !important;border-radius: $width;display: block !important;height:$height;} /* px-to-viewport-ignore */
  &::-webkit-scrollbar-thumb {border-radius: $width;background-color: darken($color,5%);} /* px-to-viewport-ignore */

  &::-webkit-scrollbar-thumb:vertical:hover {background-color: darken($color,10%);}

  &::-webkit-scrollbar-thumb:vertical:active {background-color: darken($color,15%);}
  @include media{
    &::-webkit-scrollbar {width: 0 !important;height:$height;opacity:0;display:none;}
  }
}
@mixin button-color($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
}
@mixin button-variant-other($color, $background,$border) {
  @include button-color($color,$background,$border);
  &:hover,
  &:focus {
    @include button-color(darken($color,15%), darken($background,8%), darken($border,8%));
  }
  &:active,
  &.active {
    @include button-color(darken($color,17%), darken($background,13%), darken($border,13%));
  }
}

@mixin quote{position:relative;
  &::before,&::after{position:absolute;content:'“';font-family:'HYYakuHei';font-size:120px;line-height: 1;color:#EFEFEF;pointer-events:none;}
  &::before{left:-120px;top:-10px;}
  &::after{content:'”';right:-120px;top:35px}
  @include media{
    &::before,&::after{font-size:mpx(60);}
    &::before{left:mpx(-40);top:mpx(-25);}
    &::after{content:'”';right:mpx(-40);top:auto;bottom:(-35);}
  }
}

// iphonex padding
@mixin iphonex-padding-bottom($paddingBottom: 0px) {
  padding-bottom: $paddingBottom;
  padding-bottom: calc(#{$paddingBottom} + constant(safe-area-inset-bottom));
  padding-bottom: calc(#{$paddingBottom} + env(safe-area-inset-bottom));
}

// iphonex bottom
@mixin iphonex-fixed-bottom($bottom:0px) {
  bottom: $bottom;
  bottom: calc(#{$bottom} + constant(safe-area-inset-bottom));
  bottom: calc(#{$bottom} + env(safe-area-inset-bottom));
}

// iphonex fixed
@mixin iphonex-fixed-bottom-zero($backgroundColor: #ffffff) {
  @include iphonex-fixed-bottom();
  &::after {
    content: ' ';
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $backgroundColor;
    height: constant(safe-area-inset-bottom);
    height: env(safe-area-inset-bottom);
  }
}

@mixin base-title($w:1460,$imgW:1464){position:relative;
  .title-inner{display:block;height:80px;position:relative;z-index: 1;color:#000;width:$w+px;background:$color-primary;padding-left: 20px;line-height:80px;font-size:45px;white-space:nowrap;
    >span{display:block;line-height:inherit;height:inherit;white-space:nowrap;}
  }
  .title-bg{display:block;width:$imgW+px;position:absolute;pointer-events:none;left:50px;top:50px;}
  @content;

  @include media{
    .title-inner{height:mpx(20);line-height:mpx(20);font-size:mpx(18);padding-left: mpx(8);}
    .title-bg{left:mpx(10);top:mpx(10);}
  }
}

@mixin more-btn() {
  width: $container-width;margin: 0 auto 100px;
  text-align: right; font-family: BioSans;font-size: 18px;font-weight: 600;color: #000;
  span:last-child {  color: #ffe600; }
  @include media {
    width: 100%;margin: 0;font-size: mpx(12);line-height: mpx(15);
  }
  @content;
}


@mixin base-btn-banner-swiper(){
  padding: 0 16px;font-family:TTSupermolotNeue-Exp;font-size: 20px;font-weight: 700;color: #000;
  line-height: 50px;height: 50px;border-radius: 2px;
  @include media{
    // width:mpx(120);
    padding-left: mpx(12);padding-right: mpx(12);height:mpx(20);line-height:mpx(20);font-size:mpx(10);
    // span{margin-right:mpx(10);}
    // &::after{width:mpx(15);height:mpx(8);}
  }
  @content;
}

// // extend
// %scroll{
//   $color:#999;
//   @include scroll;
// }

%scroll{
  &::-webkit-scrollbar {width: 7px !important;border-radius: 7px;display: block !important;}

  /* px-to-viewport-ignore */

  /* Handle style */
  &::-webkit-scrollbar-thumb {border-radius: 7px;background-color: #333;}

  /* px-to-viewport-ignore */

  /* hover*/
  &::-webkit-scrollbar-thumb:vertical:hover {background-color: darken(#333,5%);}

  /* press */
  &::-webkit-scrollbar-thumb:vertical:active {background-color: darken(#333,10%);}
}

%clearfix{zoom:1;
  &::before,&::after{content:"";display:table;}
  &::after {clear:both;}
}

@mixin shareIcon(){
  .item{
    >*{background:$color-primary;width:70px;height:70px;display:block;border-radius:70px;@include box-c;
      img{display:block;width:35px;height:35px;object-fit:contain;}
    }
  }
  @include media{
    .item{
      >*{width:mpx(35);height:mpx(35);border-radius:mpx(35);
        img{width:mpx(18);height:mpx(18);}
      }
    }
  }
  @content;
}

@mixin newsSlide(){position:relative;width:1530px;margin:0 auto;overflow:hidden;
  .bd{@include box;padding-bottom:10px;justify-content:center;
    .item{display:block;padding:0 20px;width:auto !important;flex-shrink: 0;transform:translate3d(0,0,0);}
    .item-inner{width:325px + 18px;display:block;position:relative;box-shadow:10px 10px 0 0 #000;padding-bottom:30px;border:9px solid $color-primary;clip-path:polygon(40px 0%, calc(100% + 9px) 0%, calc(100% + 9px) calc(100% + 9px), 0% calc(100% + 9px), 0% 60px,);background:#fff;transform:translate3d(0,0,0);
      .pic{width:100%;height:185px;opacity:.9;transition:opacity .2s ease;clip-path:polygon(31px 0%, calc(100% + 9px) 0%, calc(100% + 9px) calc(100% + 9px), 0% calc(100% + 9px), 0% 51px,);transform:translate3d(0,0,0);
        img{display:block;width:100%;height:100%;object-fit:cover;}
      }
      .icon{position:absolute;left:50%;transform:translate3d(-50%,0,0);top:130px;background:$color-primary;width:110px;height:110px;border-radius:126px;@include box-c;
        img{width:58px;display:block;height:45px;}
      }
      .title{margin-top:65px;text-align: center;padding:0 12px;font-size:20px;line-height:math.div(84, 3 * 20);@include ellipsis(3);min-height:84px;}
      .text{color:#666;font-size:14px;margin-top:20px;text-align: center;@include ellipsis;padding:0 12px;}

      &:hover{
        .pic{opacity:1;}
      }

      .fk{position: absolute;overflow: hidden;top: -50px;left: -9px;background: $color-primary;width: 9px;height: 100px;z-index:1;transform-origin:0 100%;transform: rotate(34deg);}
    }
  }
  &.swiper-container-initialized{
    .bd{justify-content:flex-start;}
  }

  @include media{width:mpx(300);
    .tempWrap{margin:0 auto;}
    .bd{padding-bottom:mpx(4);
      .item{padding:0 mpx(8);}
      .item-inner{width:mpx(130 + 4);box-shadow:mpx(4) mpx(4) 0 0 #000;padding:0;padding-bottom:mpx(16);border:mpx(2) solid $color-primary;clip-path:polygon(#{mpx(15)} 0%, calc(100% + #{mpx(2)}) 0%, calc(100% + #{mpx(2)}) calc(100% + #{mpx(2)}), 0% calc(100% + #{mpx(2)}), 0% #{mpx(25)},);
        // &:before{border:mpx(2) solid $color-primary;left:0;top:0;width:calc(100% - #{mpx(3)});height:calc(100% - #{mpx(3)});z-index: 1;}
        .pic{width:100%;height:mpx(72);opacity:1;clip-path:polygon(#{mpx(13)} 0%, calc(100% + #{mpx(2)}) 0%, calc(100% + #{mpx(2)}) calc(100% + #{mpx(2)}), 0% calc(100% + #{mpx(2)}), 0% #{mpx(22)},)}
        .icon{top:mpx(60);width:mpx(30);height:mpx(30);border-radius:mpx(30);
          img{width:mpx(18);height:mpx(14);}
        }
        .title{margin-top:mpx(25);padding:0 mpx(10);font-size:mpx(10);height:mpx(29);@include ellipsis(2);}
        .text{font-size:mpx(10);margin-top:mpx(10);padding:0 mpx(10);}
        // .fk{top: mpx(-3);left: mpx(-3);width: mpx(10);height: mpx(20);border-right: mpx(2) solid #ffe500;}
        .fk{position: absolute;overflow: hidden;top: mpx(-28);left:mpx(-2);background: $color-primary;width: mpx(2);height: mpx(50);z-index:1;transform-origin:0 100%;transform: rotate(31deg);}
      }
    }
  }

  @content;
}

.global-card-hover{
  @include cardHover;
}
.global-container-width{
  width: $container-width;
  margin: 0 auto;
  @include media{
    width: 100%;
  }
}

.bubble-animation {
  $randomOffsets: 4px 6px 8px;opacity: 0.8;flex: 0 0 260px;
  &:hover {
      opacity: 1.0;
  }
  @each $val in 1, 2, 3 {
      $random: nth($randomOffsets, $val);
      @keyframes random-anim-#{$val} {
          0% {
              transform: 0;
          }
          20% {
              transform: translateY(-$random);
          }
          40% {
              transform: 0;
          }
          80% {
              transform: translateY($random);
          }
          100% {
              transform: translateY(0);
          }
      }
  }
  &.way1 { animation: random-anim-1 5s linear 0.3s infinite; }
  &.way2 { animation: random-anim-2 5s linear 1.5s infinite; }
  &.way3 { animation: random-anim-3 5s linear 2.2s infinite; }
  &.way4 { animation: random-anim-3 5s linear 2.7s infinite; }
}