@font-face {
	font-family: 'GilroyBold';
	src: url('../fonts/gilroy/Gilroy-Bold.ttf');
	font-weight: Bold;
	font-style: normal;
}
@font-face {
	font-family: 'GilroyHeavy';
	src: url('../fonts/gilroy/Gilroy-Heavy.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GilroyLight';
	src: url('../fonts/gilroy/Gilroy-Light.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GilroyMedium';
	src: url('../fonts/gilroy/Gilroy-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GilroyRegular';
	src: url('../fonts/gilroy/Gilroy-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PingFangSCRegular';
	src: url('../fonts/pingfang_regular_simple.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PingFangSCSemiBold';
	src: url('../fonts/pingfang_semi_bold.ttf');
	font-weight: bold;
	font-style: normal;
}