.footer{
  background-color: $databend-background-color;
  .footerWraper{
    width: $container-width;
    margin: 0 auto;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 120px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    .footerTitle{
      font-size: 16px;
      font-family: GilroyBold;
      font-weight: bold;
      color: #fff;
      padding-bottom: 36px;
    }
    .followUs{
      display: block;
      width: 100px;
    }
    .item{
      margin-bottom: 20px;
      cursor: pointer;
      &.itemIcon{
        display: inline-block;
        margin-right: 6px;
        &:last-child{
          margin-right: 0;
        }
      }
      a{
        color:  #fff;
        text-decoration: underline;
        &:hover{
          color: #fff;
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .coppyright{
    text-align: center;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 20px;
    width: $container-width;
    margin: 0 auto;
  }
  @include media{
    position: relative;
    top: -1PX;
    .footerWraper{
      width: 100%;
      flex-direction: column;
      padding-left: mpx(20);
      padding-right: mpx(20);
      >div{
        margin-bottom: mpx(16);
      }
      .footerTitle{
        font-size: mpx(12);
        color: #fff;
        padding-bottom: mpx(10);
      }
      .followUs{
        display: block;
        width: mpx(90);
      }
      .item{
        margin-bottom: mpx(8);
        font-size: mpx(12);
        &.itemIcon{
          margin-right: mpx(4);
        }
      }
    }
    .coppyright{
      width: 90%;
      font-size: mpx(8);
      line-height: mpx(14);
    }
  }
  
}