name: 3306Ï€ DEPLOY CI
on:
  push:
    branches:
      - master
    paths-ignore:
      - README.md
      - LICENSE

jobs:
  deploy_job:
    runs-on: ubuntu-latest
    name: build
    steps:
      # check out the repository
      - name: Checkout    
        uses: actions/checkout@v2

      - name: Install Dependencies
        run: yarn
      - name: Build
        run: yarn build
      

      - name: Pushes to another repository
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: 'build'
          destination-github-username:  ${{ secrets.DESTINATION_GITHUB_NAME }}
          destination-repository-name: ${{ secrets.DESTINATION-REPOSITORY-NAME }}
          target-directory: '3306pai'
          user-email: ${{ secrets.UESR_EMAIL }}
          target-branch: main
